<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../favicon.png">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@400..700&display=swap"
        rel="stylesheet">


    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_thKXbixIAN_iftQqGFEsehaIQEUdTFo&callback=initMaps"></script>
        <script type="text/javascript" src="../js/mapa.js"></script>
    <title>Contacto</title>
</head>

<body class="contacto_class">
    <!--seccion header-->
    <header>
        <!-- Menu de navegacion principal nav y lista desordenada -->
        <nav class="menu_nav_class">
            <ul class="menu_ul_class">
                <!-- Enlace al inicio -->
                <li class="menu_home">
                    <a href="../index.html" class="menu_a">
                        <p class="menu_p">Inicio</p>
                    </a>
                </li>
                <!-- Enlace a la pagina de Galeria -->
                <li class="menu_galeria">
                    <a href="./galeria.html" class="menu_a">
                        <p class="menu_p">Galer&iacute;a</p>
                    </a>
                </li>
                <!-- Enlace a la pagina de presupuesto -->
                <li class="menu_presupuesto">
                    <a href="./presupuesto.html" class="menu_a">
                        <p class="menu_p">Presupuesto</p>
                    </a>
                </li>
                <!-- Enlace a la pagina de contacto -->
                <li class="menu_contacto">
                    <a href="./contacto.html" class="menu_a">
                        <p class="menu_p">Contacto</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="div_title_class">
        <h1>Contacto Botanica Express</h1>
    </div>
    <div class="contenedor_mapa" onload="iniciarMapa();">
        Partida : <input id="partida" type="textbox" value="benisano">
        <input type="button" value="Geolocalizar" onclick="calcularRuta()">
        <br /><br /><br />
        <div id="mapa" style="position:relative;float:left;width:650px; height:575px"></div>
        <div id="ruta" style="position:relative;float:left;width:250px; "></div>
    </div>
    </div>
    <!--seccion footer-->
    <footer id="footer_id">
        <!--contenedor principal del footer-->
        <div class="footer_container">
            <!--contenedor de las 5 imagenes de redes sociales-->
            <div class="sociales">
                <a href="https://www.facebook.com"><img class="social_img_class" src="../images/facebooklogo.png"
                        alt="facebook logo not loaded" width="980" height="980"></a>
                <a href="https://x.com"><img class="social_img_class" src="../images/xlogo.png" alt="x logo not working"
                        width="2000" height="2000"></a>
                <a href="https://www.linkedin.com"><img class="social_img_class" src="../images/inlogo.png"
                        alt="linkedin logo not working" width="1089" height="1089"></a>
                <a href="https://www.instagram.com/keyday_electronics"><img class="social_img_class"
                        src="../images/instalogo.png" alt="instagram logo not working" width="1207" height="1207"></a>
                <a href="https://www.youtube.com"><img class="social_img_class" src="../images/ytlogo.png"
                        alt="youtube logo not working" width="776" height="560"></a>
            </div>
            <!--contenedor de la direccion de la empresa-->
            <div class="direccion">
                <p>
                    Botanica Express 123 Sunset Lane, Suite 7 Honolulu, HI 96815 United States
                </p>
            </div>
            <!--contenedor del aviso legal-->
            <div class="aviso_legal">
                <p>
                    Lea nuestro <a href="./aviso_legal.html" target="_blank">Aviso Legal</a>
                </p>
            </div>
        </div>

    </footer>
</body>

</html>